streamlit
langchain
langchain-core
langgraph
langchain-community
langchain-openai
langchain-ollama
langchain-groq
langchain-google-genai
sqlalchemy
pandas
numpy
python-dotenv
pydantic
fastapi
pyYAML
uvicorn
pydantic[email]
loguru
ngrok